html,
body {
	width: 100%;
}

body {
	display: flex;
	justify-content: center;
}


#tags {
	width: 80%;
	text-align: center;
	margin-top: 1rem;

}

#tags ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tag {
	padding: 0.3rem 1rem;
	margin: 0.5rem 1rem;
	background-color: ghostwhite;
	border-radius: 0.8rem;
	text-align: center;
	transition: ease-in 0.2s;
	box-shadow: 5px 5px 8px 1px #2c2c2c;
}

.tag a {
	text-decoration: none;
	color: #3f3f3f;
}

.tag:hover {
	transform: scale(1.1);
}


#tagContent {
	margin-top: 5rem;
	margin-bottom: 5rem;
	width: 50%;

	background-color: #c8c8c8;
	border-radius: 1rem;
	transition: ease-in 0.6s;
	transform-origin: top;
	transform: scaleY(0);
}

#tagContent .tagTitle {
	font-size: 2.5rem;
	font-weight: bold;
	margin-left: 5rem;
	color: #272727;
}

#tagContent hr {
	height: 0.2rem;
	background-color: #545454;
	border-left: none;
	border-right: none;
	
}

#tagContent ul {
	margin-top: 1rem;
	margin-bottom: 1rem;
}


#tagContent ul li {
	margin-left: 10rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#tagContent ul li a {
	text-decoration: none;
	font-size: 1.5rem;
	color: #5d5d5d;
}
