#years{
	width: 100%;
}
#years .year{
	margin: 3rem;
}

#years .year hr{
	width: 100%;
	color: #000000;
	height: 0.2rem;
	background: linear-gradient(to right, #9a9a9a, #000000);
	border: none;
	margin: 1rem 0;
}

#years .year span{
	color: #7e7e7e;
	font-size: 1.5rem;
	margin: 0.5rem;
}
#years .year ul li a{
	color: #e7e7e7;
	text-decoration: none;
	font-size: 2rem;
	
}

#years .year ul li{
	margin: 0.5rem 2rem;
	
}