.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.main {
	margin-top: 5rem;
}

.main ul {
	display: flex;
	flex-direction: column;
}

#date {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin: 1.5rem 0px;
	color: #7ed1e5;
}

.main ul li .dayscontent {
	display: flex;
	flex-direction: column;
}

.main ul li .dayscontent li {
	width: 20rem;
	height: 10rem;
	border-radius: 1rem;

}

.main ul li .dayscontent li .myDayContent {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}


.main ul .days:nth-child(4) {
	transform: translateX(10rem);

}

.main ul .days:nth-child(2) {
	transform: translateX(-10rem);

}



.main ul li .dayscontent li {

	width: 16rem;
	height: 8rem;
	margin: 1rem;
	transform-origin: right;
}

.main ul .days:nth-child(2) li:hover {

	transform: scaleX(1.5);
}

.main ul .days:nth-child(4) li:hover {
	transform: scaleX(1.5);
}


#content_box {
	transition: ease-in 0.6s;
}


.main ul .days:nth-child(2) li:hover .myDayContent #content_box {
	transform: scaleX(0.69);
}

.main ul .days:nth-child(4) li:hover .myDayContent #content_box {
	transform: scaleX(0.69);
}



.main ul .days:nth-child(2) li {
	padding: 0.5rem;
	background-color: #c7c7c7;
	color: #676767;
	font-size: 1.5rem;
	transform-origin: right;
	transition: ease-in 0.6s;
}

.main ul .days:nth-child(4) li {
	padding: 0.5rem;
	background-color: #3a3a3a;
	color: #989898;
	font-size: 1.5rem;
	transform-origin: left;
	transition: ease-in 0.6s;
}


center {
	width: 0.5rem;
	height: 100%;
	background-image: linear-gradient(to top, #ffffff, #000000);
	position: absolute;
	z-index: -10;
	
	transform: scaleY(1.1);
	
}

.main ul li .dayscontent li:hover {
	box-shadow: 10px 10px 1rem 2px #545454;

}



.main ul li .dayscontent li:hover .myDayContent #content_box {
	font-size: 2rem;
}
